/*site-wide varibles*/
html {
    font-family: Lato, Arial, sans-serif;
    margin: 0;

    --base-font-size : 16px;
    --left-padding: 1rem;
    --global-background-color : #1F7A7A;
    --global-text-color : #000000;

    --form-input-background: hsl(180, 60%, 20%);
    --uploads-dropzone-background: hsl(180, 60%, 25%);
    --input-background-color: hsl(180, 0%, 95%);

    --input-border-color: #bfbfbf;
    --video-border-indicator-color: hsl(270, 80%, 80%);

    --link-color : #A8D8F0;
    --hover-color    :  hsl(200, 45%, 70%);
    --inactive-color :  hsl(200, 20%, 60%);

    --post-grid-height: 180px

    
}

/*basic elements*/
body {
    color: var(--global-text-color);
    background-color: var(--global-background-color);
    width: 100%;
    font-size: var(--base-font-size);
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, blockquote, pre, dl, dd, menu, input {
  margin: 0;
}

img{
  height: auto;
  max-height: inherit;
  width: auto;
  max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
  text-decoration: none;
  color: var(--hover-color)
}

menu {
    background-color: #1F7A7A;
    line-height: 2em;

    a {
        padding: 0.5em;
    }
}

form {
  label {
    display: block;
  }
}

ol, ul, menu {
  list-style: none;
  line-height: 1.25em;
  padding: 0;
}
/*#########################################################################################*/
/*#########################################################################################*/
/*general classes*/
.no-lower-space {
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.top {
  position: fixed;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.med-padding {
  padding: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: .5em;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-1 {
  flex: 1 1 0%;
}

.left-padded {
  padding-left: 1rem;
}

.icon-button {
  display: inline-flex;
  border: 1px solid white;
  padding: 1px;
  margin: 2px;
  color: black
}
/*#########################################################################################*/
/*#########################################################################################*/
/*specific classes*/
.media-canvas {
  position: absolute;
}

.settings-list {
  display: flex;
  flex-direction: column;
  li {
    display: inline-flex;
    align-items: center;
    gap: .4em;
  }
  .material-icons {
    font-size: 18px !important;
  };
}

.video-trimmer{
  width: 100%;
  height: 50px;
}
.audio-meter{
  width: 100%;
  height: 25px;
}

.page-content {
  margin-left: 1em;
  margin-right: 1em;
}

.paginator {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.sidebar{
  word-wrap: anywhere;
  min-width: 250px;
  flex: 0 1 0%;
}

.text-input {
  min-width: 80%;
  width: 100%;
  max-width: 105%;
  min-height: 1em;
  height: 4em;
  max-height: 105%;

  margin-bottom: 1rem;
  background-color: var(--input-background-color);
  border: 2px var(--input-border-color);
  border-radius: 0px;
}

.dropzone-container {
  cursor: pointer;
  background: var(--uploads-dropzone-background);
  min-width: 100px;
  padding: 3rem 5rem;
  text-align: center;
}   

.file {
  text-align: center;
  position: relative;
  max-height: 360px;
  overflow: auto;
}


.queue-item{
  display: flex;
  min-height: 8rem;
  align-items: center;
  gap: 2em;
  hr {
    width: 100%;
  }
  img {
    aspect-ratio: initial;
    height: 7rem;
    width: auto;
  }
}

.queue-item-ongoing {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.upload-container{
  width:95%;
  display: grid;
  grid-template-columns: 1fr max-content 480px;
  gap: .5rem;
}

.upload-image-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.upload-edit-container{
  width: 480px;
}

.tab-list{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: .5rem;
}

.tab-panels {
  padding-bottom: 1rem;
}

.active {
  border-bottom: 2px solid currentcolor;
  color: var(--link-color) !important;
}

.tab{
  color: var(--inactive-color);
  display: inline-block;
  padding: .25rem;
}

.grid-divider{
  width: 2em;
}

.post-grid{
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--post-grid-height), 1fr));
  grid-template-rows: minmax(80px, auto);
  min-width: 90%;
}

.post {
  margin: 0 auto;
  display: flex;
  img {
    height: var(--post-grid-height);
  }
}

.post-media{
  width: auto;
  max-width: 100%;
  height: auto !important;
  max-height: 95vh;
}

.tag-list-element{
  margin-bottom: .3rem;
  line-height: 1em
}

.video_border{
  border:4px solid var(--video-border-indicator-color);

}